movies.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://jonclarke.dev/movies/web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jonclarke.dev/movies/web-service" targetNamespace="http://jonclarke.dev/movies/web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://jonclarke.dev/movies/web-service">

    <xs:element name="listMoviesRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listMoviesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="movies" type="tns:Movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="movie" type="tns:Movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="movie" type="tns:newMovie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="movie" type="tns:Movie"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="movie" type="tns:Movie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="movie" type="tns:Movie"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="deleteMovieRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteMovieResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="movie" type="tns:Movie"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="newMovie">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="releaseDate" type="xs:dateTime"/>
            <xs:element name="availableOnDvd" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Movie">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="releaseDate" type="xs:dateTime"/>
            <xs:element name="availableOnDvd" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMovieResponse">
    <wsdl:part element="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMovieResponse">
    <wsdl:part element="tns:updateMovieResponse" name="updateMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMovieRequest">
    <wsdl:part element="tns:deleteMovieRequest" name="deleteMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addMovieRequest">
    <wsdl:part element="tns:addMovieRequest" name="addMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMovieRequest">
    <wsdl:part element="tns:updateMovieRequest" name="updateMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addMovieResponse">
    <wsdl:part element="tns:addMovieResponse" name="addMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listMoviesRequest">
    <wsdl:part element="tns:listMoviesRequest" name="listMoviesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listMoviesResponse">
    <wsdl:part element="tns:listMoviesResponse" name="listMoviesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieRequest">
    <wsdl:part element="tns:getMovieRequest" name="getMovieRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteMovieResponse">
    <wsdl:part element="tns:deleteMovieResponse" name="deleteMovieResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MoviesPort">
    <wsdl:operation name="getMovie">
      <wsdl:input message="tns:getMovieRequest" name="getMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMovie">
      <wsdl:input message="tns:updateMovieRequest" name="updateMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateMovieResponse" name="updateMovieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMovie">
      <wsdl:input message="tns:deleteMovieRequest" name="deleteMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteMovieResponse" name="deleteMovieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMovie">
      <wsdl:input message="tns:addMovieRequest" name="addMovieRequest">
    </wsdl:input>
      <wsdl:output message="tns:addMovieResponse" name="addMovieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMovies">
      <wsdl:input message="tns:listMoviesRequest" name="listMoviesRequest">
    </wsdl:input>
      <wsdl:output message="tns:listMoviesResponse" name="listMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MoviesPortSoap11" type="tns:MoviesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMovie">
      <soap:operation soapAction=""/>
      <wsdl:input name="addMovieRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMovies">
      <soap:operation soapAction=""/>
      <wsdl:input name="listMoviesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoviesPortService">
    <wsdl:port binding="tns:MoviesPortSoap11" name="MoviesPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>